{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/benjamin/Dev/sl/formations/training-07-11-22/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/benjamin/Dev/sl/formations/training-07-11-22/templates/main/contact.html.twig'|file_link(0) }}">templates/main/contact.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
